:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --our-team-background: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* titles start */
.secondary-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.is-hidden {
  display: none;
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* titles end */

/* Header starts */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.logo {
  display: inline-block;
  margin-right: 86px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;

  color: #000000;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-nav li + li {
  margin-left: 52px;
}

.link {
  display: inline-block;
  padding: 20px 0;

  color: var(--title-color);
  text-decoration: none;
  font-style: normal;
}

.address a + a {
  margin-left: 30px;
}

.link.mail,
.link.phone {
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.studio {
  color: var(--accent-color);
}

.portfolio {
  color: var(--accent-color);
}
/* Header ends */

/* Hero starts */
.hero {
  margin-bottom: 94px;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
/* Hero ends */

/* Buttons start */
.button {
  min-width: 200px;
  min-height: 50px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87em;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero .button {
  padding: 10px 32px;

  font-weight: 700;
  text-decoration: none;
}

.mailing .button {
  font-weight: 900;
}
/* Buttons end */

/* advantages start */
.advantages .container {
  margin-bottom: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-list li {
  width: 270px;
}

.advantages-list li + li {
  margin-left: 30px;
}

.advantages .item-title {
  margin-bottom: 10px;

  color: var(--title-color);
}
/* advantages end */

/* activities start */
.our-activities .container {
  margin-bottom: 94px;
}

.our-activities-list {
  display: flex;
}

.our-activities-list li + li {
  margin-left: 30px;
}

.our-activities .item-title {
  text-align: center;
  color: var(--white-color);

  background-color: rgba(0, 0, 0, 0.1);
}

.our-activities a {
  text-decoration: none;
}
/* activities end */

/* our-team starts */
.our-team {
  background-color: var(--our-team-background);
}

.our-team .container {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
}

.our-team-list {
  display: flex;
}

.our-team-list li + li {
  margin-left: 30px;
}

.member {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  letter-spacing: 0.03em;
}

.member.name {
  font-weight: 500;
  color: var(--title-color);
}
/* our-team ends */

/* customers start */
.regular-customers {
  margin-bottom: 94px;
}
/* customers end */

/* footer starts */
.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: center;

  padding-top: 48px;
  padding-bottom: 28px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .logo {
  margin: 0;
  color: var(--white-color);
}

.footer address {
  display: flex;
  flex-direction: column;

  margin-top: 20px;

  font-style: normal;
}

.geography {
  color: var(--white-color);
}

.footer .mail,
.footer .phone {
  margin-top: 10px;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.follow-us {
  margin-left: 69px;
}

.footer .secondary-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  text-align: left;

  color: var(--white-color);
}

.mailing {
  margin-left: auto;
}

.input {
  width: 358px;
  height: 50px;

  background-color: transparent;

  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign {
  margin-top: 18px;
  padding-bottom: 21px;

  font-family: Roboto;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}
/* footer ends */

/* portfolio starts */

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  background-color: #f5f4fa;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;

  color: var(--title-color);
}

.list-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;

  color: var(--white-color);
}
